/* home.css */
.main-content {
    display: flex;
    justify-content: space-between;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-bottom: 60px; /* To ensure content doesn't overlap with the footer */
    flex: 1;
}

.product-card {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.product-card img {
    border-radius: 5px;
}

.product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-card p {
    color: #6c757d;
    font-size: 0.9em;
}

.price {
    font-size: 1.1em;
    color: #28a745;
    margin-top: 10px;
}
.sidebar {
    width: 300px;
    padding: 20px;
    background-color: #f8f9fa;
    border-left: 1px solid #ced4da;
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.ad, .shop {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.ad img, .shop img {
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.ad h3, .shop h3 {
    font-size: 1.2em;
    margin: 10px 0;
}